:root {
  /* Fonts */
  --primary-font: 'Poppins', sans-serif;
  --secondary-font: 'Roboto Mono', monospace;

  /* Colors */
  --primary-black: #212427;


  /* Spacing */
  --large-container-padding: 20px 30px;
  --small-height: 50px;
  --vertical-padding: 50px;

  /* Borders */
  --border-width: 2.9px;
  --border: var(--border-width) solid var(--primary-black);

  /* Breakpoints */
  --small-screen: 576px;
  --medium-screen: 768px;
  --large-screen: 992px;
  --extra-large-screen: 1200px;

  /* Font size */
  --large-text: 100px;
  --secondary-text: 60px;
  --para-text: 26px;
}

/* global styles - START */
body, h1, p { margin: 0; cursor: default;}

body {
  font-family: var(--primary-font);
  color: var(--primary-black);
}

h1, h2, h5, p {
  margin: 0;
}

h1 {
  font-family: var(--primary-font);
  font-size: 85px;
  font-weight: 400;
}

h2 {
  font-family: var(--primary-font);
  font-size: 60px;
  margin: 0;
  font-weight: 400;
}

h5 {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 20px;
}

p {
  font-family: var(--secondary-font);
  font-size: 26px;
}
/* global styles - END */

.flexbox-vertical-center {
  display: flex;
  align-items: center;
}

.flex-item {
  flex: 1;
}

a {
  text-decoration: none;
  color: var(--primary-black);
}

.bordered-section {
  border: var(--border);
  padding: var(--large-container-padding);
}

header .bordered-section {
  border-top: 0;
}

header, main, .footer__contact {
  margin: 0 var(--vertical-padding);
}

main .main__intro {
  height: 300px;
}

main > .bordered-section, .footer__contact, .footer__copyright, .footer__contact__links > div {
  margin-top: calc(var(--border-width) * -1);
}

/* Add hover effect to change background color on links */
main .main__project-links {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

main .main__project-links:hover {
  /* background-color: #f2f2f2; */
}

/* footer */

footer .footer__contact {
  height: 200px;
}

footer .footer__contact.flexbox-vertical-center {
  justify-content: space-between;
}

footer .footer__contact__links > div {
  width: 300px;
  margin: 20px 0 20px auto;
}

footer .footer__contact__links h5 {
  padding-left: 10px;
}

footer .footer__copyright {
  height: var(--small-height);
  border-top: var(--border);
}

footer .footer__contact__links .bordered-section {
  padding: 12px;
}

footer .footer__copyright__text  {
  padding: 0 var(--vertical-padding);
  font-family: var(--secondary-font);
  font-size: 1.2em;
}
